<footer style="background: red; color: white; padding: 20px; margin-top: 30px;">
  <div style="text-align: center;">
    <p>© {{ 'now' | date: "%Y" }} Best Bengal Commerce. All rights reserved.</p>
    <p>
      <a href="https://facebook.com" style="color: white;">Facebook</a> |
      <a href="https://instagram.com" style="color: white;">Instagram</a> |
      <a href="https://youtube.com" style="color: white;">YouTube</a>
    </p>
  </div>
</footer>
